* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.bookshelf {
  background-color: rgb(168, 168, 168);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-auto-rows: max-content;
  gap: 70px;
  padding: 20px 20px 0px 20px;
}

.button-side {
  background-color: rgb(104, 127, 182);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-section {
  margin-top: 150px;
  width: 100%;
  max-width: 300px;
}


.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 200px;
}

button {
  border-style: none;
  border-radius: 30px;
  font-size: 2rem;
  padding: 13px;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color: #c2c2c2;
  transform: scale(1.1);
}

button:active {
  background-color: #9e9e9e;
}

.book {
  width: 200px;
  background-color: white;
  font-size: 1.2rem;
  padding: 10px;
  overflow: auto;
  border-radius: 10px;
}

.name-answer,
.author-answer,
.year-answer {
  font-size: 1.5rem;
}

.grouped {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
}

.grouped > button {
  background-color: #EFEFEF;
  font-size: 0.5em;
  border-radius: 0px;
}
.grouped > button:hover {
  background-color: #bababafc;
  transform: scale(1.2);
}
.grouped > button:active {
  background-color: #7b7b7bfc;
}

label {
  display: block;
  margin: 5px 0px 5px 0px;
  font-size: 1.2rem;
  color: white;
}

input {
  width: 100%;
  height: 51px;
  padding: 10px 15px 10px 15px;
  border-style: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
}

.new-book {
  margin-top: 30px;
}

.read-group {
  display: flex;
}

.checkbox {
  margin-right: 70px;
}

input:invalid {
  border: 4px dashed red;
}

#book-year::placeholder {
  color: black;
}